.weatherwhole{
    margin-top: 80px;
    margin-left: 22%;
    margin-right: 22%;
    height:1000px;
    font-family: 'Times New Roman', Times, serif;
    display:block
}
.weathertitle{
    text-align: center;

}
.generalSituation{
    margin-top: 15px;
    font-size: 15px;
}

@media screen and (max-width:500px) {
    .weatherwhole{
        margin-left:0% ;
        margin-right: 0%;
        padding:3px;
        margin-top: 10px;
    }
}