body > div> ul {
    text-decoration: none;
}
div{
    display: block;
    
    
}
#footer ul {
    margin: 0; /* To remove default bottom margin */ 
    padding: 0; /* To remove default left padding */
}
ul {
    margin:0;
    padding: 0;;
    overflow: hidden;
    list-style-type: none;
    text-align: center;
    color: black;
    
    

}
li {
    display: inline-block;
    width: 10%;
    height: 40px;
    text-align: center;
    border-style: groove;
    color: black;
}
a {
    font-size: 15px;
    text-align: center;
    
}



