.wholecard {
    margin-top: 10px;
    margin-left: 10%;
    margin-right:10%
}

.newsitem {
    display:block;
   /*  border:1px solid black; */
    padding: 5px;
    margin-left: 15%;
    margin-right:15%
}
.card-img-top{
    height:550px ;
}
.loading {
    text-align: center;
    margin: 10%;
    height: 1000px;
}

@media screen and (max-width:500px) {
    .wholecard{
        margin-left: 0;
    margin-right:0;
    height: 480px ;
    
   
    }
    .card-body{
        height: 50px;
    }
    .card-img-top{
        height:auto;
    }
    .newsitem{
        margin-left: 0;
    margin-right:0
    }
    .modal-content{
        width: 400px;
        margin-left:10% ;
        margin-right: 10%;
    }
    
}