@media screen and (max-width:500px){
    .container {
        margin: 0%;

    }
    
}
.container {
    margin-left:20% ;
    margin-right:20% ;
}
.navbar-dark {
    color:rgb(14, 18, 30);
}
.wholenavbar {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}